<h1>Dashboard</h1>
<ul>
  <li>Resumes Submitted: <%= @total_resumes %></li>
  <li>Responses: <%= @total_responses %></li>
  <li>Interviews: <%= @total_interviews %></li>
  <li>Offers: <%= @total_offers %></li>
</ul>
