<% content_for :title, "New company" %>

<div class="company-form-page">
  <h1>New company</h1>

  <%= render "form", company: @company %>

  <br>

  <div>
    <%= link_to "Back to companies", companies_path %>
  </div>
</div>
