<% content_for :title, "New Interview Session" %>

<div class="interview-session-form-page">
	<h1>New Interview Session</h1>

	<%= render "form", interview_session: @interview_session %>

	<br>

	<div>
		<%= link_to "Back to interview sessions", interview_sessions_path %>
	</div>
</div>